<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <variable name = "logFilePath" value="${logsRootPathVariable}" />
    <variable name="filePattern" value="${logsRootPathVariable}%d{yyyy-MM-dd,aux}" />
    <variable name="genericPattern" value="[TS=%d] [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="CA" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${logFilePath}Exception.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${filePattern}/Exception/Exception.%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxLogFileSize:-50}MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${maxDaysLogFiles:-7}</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder>
            <pattern>${genericPattern}</pattern>
        </encoder>

    </appender>

    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${logFilePath}Debug.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${filePattern}/Debug/Debug.%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxLogFileSize:-50}MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${maxDaysLogFiles:-7}</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
            <pattern>${genericPattern}</pattern>
        </encoder>

    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${logFilePath}Service.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${filePattern}/Service/Service.%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxLogFileSize:-50}MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${maxDaysLogFiles:-7}</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
            <pattern>${genericPattern}</pattern>
        </encoder>

    </appender>

    <!-- Configure so that it outputs to both console and log file -->
    <root level="TRACE">

        <appender-ref ref="CA"/>
        <appender-ref ref="ERROR"/>
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="INFO"/>

    </root>

</configuration>
